:root{
    --brand-color: #212121;
    --color-blue: #2196F3;
    --color-darkgray: #2F303A;
    --color-gray: #757575;
    --color-white: #FFFFFF;
    --background-color: #F5F4FA;
    --color-hover: #2196F3;
    --color-address: rgb(153, 153, 153);
    --color-dark: #000;
}
:root{
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}
body{
    font-family: "Roboto", sans-serif;
}
.conteiner{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 1px solid tomato;
}
.flex-section{
    padding-top: 94px;
}
.flex-header{
    display: flex;
    align-items: center;
}
/* header */
.header{
    /* color: var(--color-white) */
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: aqua;
    max-width: 100%;
}
.span-logo{
    color: var(--color-blue);
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}
.header-logo{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    margin-right: 93px;
    color: var(--color-dark)
}
.nav{
    display: flex;
    margin-right: 344px;
}
.nav-list{
    width: 281px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: dashed 2px;
} 
.nav-link{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--brand-color)
}
.nav-link:hover{
    color: var(--color-hover);
}
.header-list{
    display: flex;
    align-items: center;
    outline: dashed 2px gold ;
}
.header-list-item:first-child{
    margin-right: 50px;
}
.header-list-link{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-gray)
}
.header-list-link:hover{
    color: var(--color-hover);
}
/* colors section */ 
.section-business{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--color-darkgray)
}
.flex-bussines{
    width: 696px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.business-titel{
    /* font-family: var(--font-family); */
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white)
}
.business-button{
    /* font-family: var(--font-family); */
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #2196F3;
    color: var(--color-white)
}
.flex-about-us{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
}
.about-us-list{
    display: flex;
}
.about-us-item{
    margin-right: 30px;
    width: 270px;
}
.about-us-title{
    /* font-family: var(--font-family); */
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-color)
}
.about-us-text{
    /* font-family: var(--font-family); */
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-gray)
}
/* colors section3 */
.section-img{
    background-color: var(--background-color)
}
.img-titel{
    /* font-family: var(--font-family); */
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--brand-color)
}
.img-list{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 50px;
}
.section-team{
    padding-bottom: 94px;
}
.flex-team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px
}
.team-item{
    width: 270px;
    /* display: flex; */
    /* padding-right: 30px; */
    /* margin-right: 30px; */
}
.team-item:not(:last-child){
    margin-right: 30px;
}

.ours-team-titel{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: var(--brand-color)
}
.team-text{
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    margin-top: 30px;
    color: var(--brand-color)
}
.team-title{
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-gray);
    margin-top: 10px;
}
/* colors footer */
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--color-darkgray)
}
.footer-list{  
    width: 231px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 20px;
}
.footer-text{
    /* font-family: var(--font-family); */
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-white)
}
.footer-link{
    /* font-family: var(--font-family); */
    margin-top: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-address);
}
.footer-logo{
    color: var(--color-blue);
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--color-white)
}
/* ============================================================= */
.section{
    margin-top: 94px;
    margin-bottom: 94px;
}
.button-list{
    outline: dashed ;
    width: 575px;
    margin-left: 312px;
    margin-right: 312px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.button{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 6px 22px 6px 22px;
    border-radius: 5px;
    color: var(--brand-color);
    background-color: var(--color-button);
}
.button:hover{
    color: var(--color-white);
    background-color: var(--color-hover);
}
.img-list-portfolio{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 30px;
}
.img-item-portfolio{
    margin-bottom: 30px;
}
.img-titel-portfolio{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    margin-left: 24px;
    margin-top: 20px;
    color: var(--brand-color);
}
.img-text-portfolio{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    margin-top: 4px;
    margin-left: 24px;
    color: var(--color-gray);
}