@import "./base/reset";
@import "./utils/variables";
// @import "./utils/plaseholders";
@import "./utils/breakpoints";
@import "./utils/mixins";
@import "./base/common";
@import "./components/conteiners";
@import "./components/modal";
// @import "./components/buttons";

@import "./layout/01-header";
@import "./layout/02-hero";
@import "./layout/03-section-about-us";
@import "./layout/04-section-img";
@import "./layout/05-section-team";
@import "./layout/06-section-customers";
@import "./layout/07-footer";
@import "./layout/08-section-portfolio";