.flex-header {
    @include flex_AIcen;
}

.header {
    background-color: getColor('color-white');
    margin: 0 auto;
    height: 80px;
    /* padding-top: 16px; */
    /* padding-bottom: 16px; */
    max-width: 100%;

    &-span__logo {
        @include flex_AIcen;
        // font-family: getFont('font-family');
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        color: getColor('hover');
    }

    &__logo {
        @include flex_AIcen;
        font-family: getFont('second-font');
        font-weight: 700;
        font-size: 26px;
        letter-spacing: 0.03em;
        margin-right: 93px;
        color: getColor('color-dark');
    }

    &__nav {
        display: flex;
        height: 80px;
        margin-right: 218px;

        .nav-list {
            width: 281px;
            @include flex_AIcen;
            justify-content: space-between;

            &__link {
                position: relative;
                // font-family: getFont('font-family');
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 0.02em;
                transition-property: color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-delay: 100ms;
                color: getColor('brand');
            }

        }


    }
}

// .header-span__logo {
//     @include flex_AIcen;
//     // font-family: getFont('font-family');
//     font-weight: 700;
//     font-size: 26px;
//     letter-spacing: 0.03em;
//     color: getColor('hover');
// }

// .header__logo {
//     @include flex_AIcen;
//     font-family: getFont('second-font');
//     font-weight: 700;
//     font-size: 26px;
//     letter-spacing: 0.03em;
//     margin-right: 93px;
//     color: getColor('color-dark');
// }

// .header__nav {
//     display: flex;
//     height: 80px;
//     margin-right: 218px;
// }

// .nav-list {
//     width: 281px;
//     @include flex_AIcen;
//     justify-content: space-between;

// }

// .nav-list__link {
//     position: relative;
//     // font-family: getFont('font-family');
//     font-weight: 500;
//     font-size: 14px;
//     letter-spacing: 0.02em;
//     transition-property: color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     transition-delay: 100ms;
//     color: getColor('brand');
// }

.nav-list__link::after {
    position: absolute;
    content: '';
    bottom: -185%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: getColor('hover');
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.nav-list__link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav-list__link:hover {
    color: getColor('hover');

}

.header-list {
    @include flex_AIcen;
}

.header-list__item:first-child {
    margin-right: 50px;
}

.header-list__link {
    // font-family: getFont('font-family');
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    @include flex_AIcen;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
    fill: getColor('color-gray');
    gap: 10px;
    color: getColor('color-gray');
}

.header-list__item:hover .header-list__link {
    color: getColor('hover');
    fill: getColor('hover');
}