.hero {
     @include flex_BGcen_no-r;
    position: relative;
    z-index: 1;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 100vh;
    background-image: url(../images/business.png);
    background-size: cover;
    background-color: getColor('color-darkgray');
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    z-index: 2;
}


.flex-hero {
    @include flex_DRcolAIcen;
}

.hero__titel {
    // font-family: getFont('font-family');
    width: 696px;
    text-align: center;
    position: relative;
    z-index: 3;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: getColor('color-white');
}

.hero__button {
    // font-family: getFont('font-family');
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    padding: 10px 32px 10px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: getColor('hover');
    color: getColor('color-white');
}