.section-about-us {
    padding-top: 94px;
}

.section-about-us-list {
    display: flex;
}

.about-us-list__item {
    margin-right: 30px;
    width: 270px;
}

.about-us-list__item:nth-child(1)::before {
    @include flex_BGcen_no-r;
    height: 120px;
    background-image: url(../images/antenna.svg);
    border-radius: 4px;
    background-color: getColor('background');
    content: '';
}

.about-us-list__item:nth-child(2)::before {
    @include flex_BGcen_no-r;
    height: 120px;
    background-image: url(../images/clock.svg);
    border-radius: 4px;
    background-color: getColor('background');
    content: '';
}

.about-us-list__item:nth-child(3)::before {
    @include flex_BGcen_no-r;
    height: 120px;
    background-image: url(../images/diagram.svg);
    border-radius: 4px;
    background-color: getColor('background');
    content: '';
}

.about-us-list__item:nth-child(4)::before {
    @include flex_BGcen_no-r;
    height: 120px;
    background-image: url(../images/astronaut.svg);
    border-radius: 4px;
    background-color: getColor('background');
    content: '';
}

.about-us-list__title {
    // font-family: getFont('font-family');
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
    color: getColor('brand');
}

.about-us-list__text {
    // font-family: getFont('font-family');
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: getColor('color-gray');
}