.section-img {
    padding-top: 94px;
    padding-bottom: 94px;
}

.img__titel {
    /* font-family: var(--font-family); */
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: getColor('brand')
}

.section-img-list {
    @include flex-JS;
    margin-top: 50px;
}

.img-list__item {
    display: flex;
    position: relative;
    width: 370px;
    height: 294px;
}

.img-list__text {
    // font-family: getFont('font-family');
    @include flex_AIJSTAcen;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('color-white');
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    z-index: 1;
    top: 224px;
}