.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: getColor('color-darkgray');
}

.footer .conteiner {
    display: flex;
}

.address {
    margin-top: 20px;
}

.footer-list__text {
    // font-family: getFont('font-family');
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: getColor('color-white')
}

.footer-list__item:not(:last-child) {
    margin-top: 9px;
    margin-bottom: 9px;
}

.footer-list__link {
    // font-family: getFont('font-family');
    margin-top: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: getColor('address');
}

.footer__logo {
    color: getColor('color-blue');
    font-family: getFont('second-font');
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    text-align: left;
    color: getColor('color-white')
}

.footer__flex-svg {
    width: 206px;
    height: 80px;
    padding-top: 12px;
}

.footer__titel-svg {
    // font-family: getFont('font-family');
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: getColor('color-white')
}

.footer-svg-list {
    @include flex_JScenAIcen;
    gap: 10px;
}

.footer-list__link-svg {
    @include flex_JScenAIcen;
    fill: getColor('color-white');
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition-property: var(--background-color), color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0ms;
}

.footer-list__item-svg:hover .footer-list__link-svg {
    background-color: getColor('hover');
}

.footer__box {
    width: 231px;
    margin-right: 70px;
}

.form-box {
    width: 570px;
    height: 86px;
    margin-left: 93px;
    padding-top: 12px;
}

.footer__form {
    display: flex;
}

.foter-sub__title {
    // font-family: getFont('font-family');
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: getColor('color-white')
}

.foter-sub__input {
    /* display: flex; */
    // font-family: getFont('font-family');
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    margin-right: 12px;
    outline: none;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: rgba(33, 150, 243, 0);
}

.foter-sub__link {
    @include flex_JScenAIcen;
    /* text-align: center; */
    // font-family: getFont('font-family');
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    fill: getColor('color-white');
    color: getColor('color-white');
    border-radius: 4px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: getColor('color-blue');
}

.svg-telegram {
    margin-left: 10px;
}