.conteiner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

// .conteiner {
//     width: 100%;
//     min-width: 320px;
//     padding: 0 30px;
//     margin: 0 auto;

//     @media screen and (min-width: getBraik-Points('mobile')) {
//         max-width: getBraik-Points('mobile');
//     }

//     @media screen and (min-width: getBraik-Points('tabel')) {
//         max-width: getBraik-Points('tabel');
//     }

//     @media screen and (min-width: getBraik-Points('desktop')) {
//         max-width: getBraik-Points('desktop');
//     }
// }